.box1 {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 3s;
}

.box1:hover {
    transform: translateX(100px);
    background-color: purple;
}


/* 2 */

.box2{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 3s;
    background-color: 2s;
}
.box2:hover{
    transform: translatey(200px) rotate(120deg);
    background-color: orange;
}

/* 3 */

.creative {
    width: 120px;
    height: 120px;
    background: cyan;
    transition: 2s;
}

.creative:hover {
    transform: translateX(200px) rotate(720deg) scale(2);
    border-radius: 50%;
    background: gold;
}

.box3{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}
.box3:active{
    transform: rotate(-190deg) scale(2);
}

/* 4 */
.button:active{
    transition: 1s;
    transform: scale(2);
}

/* 5 */
button {
    margin: 20px;
    transition: 1s;
}

.btn1:hover {
    transform: scale(0.8) translate(-160px, -20px);
}

.btn2:active {
    transform: scale(1.5) translate(60px, -45px);
}

/* 8*/

.super {
    width: 150px;
    height: 150px;
    background: crimson;
    margin: 100px;
    transition: 2s;
}

.super:hover {
    transform:
        rotate(1080deg)
        scale(2)
        translateY(-100px);

    border-radius: 50%;
    background: lime;
    box-shadow: 0 0 40px lime;
}
